@media (max-device-width: 450px) {
    div#loggedin {
        height: 0px !important;
    }
    input#partyID:focus {
        border: 2px solid blue !important;
        background: white;
    }
    div#results, body {
        height: 100% !important;
        background: gray;
    }
    a#spotify:hover, a#spotify:active {
        background-color: #96f896;
    }
    html {
        position: relative !important;
        min-height: 100% !important;
    }
input#partyID {
    margin-top: 15% !important;
    height: 100px !important;
    width: 365px !important;
    margin-left: 2%;
    font-size: 335%;
    font-weight: lighter;
}
    header:nth-child(0), header:nth-child(1) {
        padding-top: 100px !important;
    }

    #currentSong {
        margin-top: -94px !important;
        font-size: 200%;
        color: #443f3f;
    }

    header {
        border-bottom: 3px solid pink !important;
        padding-bottom: 55px !important;
    }

    footer, #footer {
        background-color: transparent !important;
        position: fixed !important;
        left: 0 !important;
        bottom: 0 !important;
height: 49vh !important;
width: 100% !important;
    }

    #footer2 {
        background-color: pink !important;
        position: fixed !important;
        left: 0 !important;
        bottom: 0 !important;
        height: 52px !important;
        width: 100% !important;
        font-weight: bold;
        color: #443f3f;
    }

    body {
        zoom: 125% !important;
    }

    input#filename {
        height: 125px !important;
        font-size: 250% !important;
    }

    #results {
        height: 0px !important;
        font-size: 250% !important;
    }

    #login, #spotify, #logout {
    width: 291px !important;
    border: none !important;
    font-size: 140%;
    background-color: #77af28;
    font-family: fantasy;
    height: 62px;
    border-radius: 8px;
    margin: auto !important;
    margin-top: -190px !important;
    position: absolute;
    margin-left: 13% !important;
}
a#spotify, #spotify {
margin-top: 15px;
width: 365px !important;
margin-left: -22% !important;
height: 100px !important;
font-size: 375% !important;
margin-top: 100px !important;
border: 2px solid black !important;
}
    #searchBox, #filename {
        width: 100% !important;
        border: 0;
        background: #ececec;
        padding: 0 0 0 0;
        margin: 0;
        outline: 0;
        border-radius: 0;
        height: 166px !important;
        font-size: -webkit-xxx-large;
        text-align: center;
        color: #72ad21;
        font-weight: bold;
        font-family: 'Roboto', sans-serif !important;
    }

    body {
        width: 100%;
        height: 0px !important;
    }

    html {
        width: 100%;
        background-color: #443f3f;
        height: 100vh !important;
    }
}

header:nth-child(0), header:nth-child(1) {
    padding-top: 10px;
}

header {
    border-bottom: 3px solid pink !important;
    padding-bottom: 20px;
}

* {
    overflow: visible;
}
* {
   // font-family: 'Roboto', sans-serif !important;
}
#login, #spotify, #logout {
    width: 291px !important;
    border: none !important;
    font-size: 140%;
    background-color: #77af28;
    font-family: fantasy;
    height: 62px;
    border-radius: 8px;
    margin: auto !important;
    margin-top: -190px !important;
    position: absolute;
    margin-left: 13% !important;
}
button#obtain-new-token {
    visibility: hidden;
}
div#login {
    height: 0px !important;
}
body {
    width: 100%;
    height: 0px !important;
}

html {
    width: 100%;
    background-color: #443f3f;
    height: 100vh !important;
}

div#searchboxContainer {
    position: fixed !important;
    width: 100% !important;
    opacity: 1;
}

#searchBox, #filename {
    width: 100%;
    border: 0;
    background: #ececec;
    padding: 0 0 0 0;
    margin: 0;
    outline: 0;
    border-radius: 0;
    height: 66px !important;
    font-size: xx-large;
    text-align: center;
    color: #72ad21;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

footer, #footer {
    background-color: transparent !important;
    position: fixed;
    left: 0;
   // margin-bottom: 50%;
    height: 50px;
    width: 100%;
}

#footer2 {
    background-color: pink !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    height: 40px;
    width: 100% !important;
    font-weight: bold;
    color: #443f3f;
}
#partyID {
    border: 2px solid black;
    width: 291px;
    background: #ececec;
    padding: 0 0 0 0;
    margin-top: 15%;
    border-radius: 8px;
    height: 62px !important;
    font-size: xx-large;
    text-align: center;
    color: #72ad21;
    font-weight: bold;
    font-family: fantasy;
}
input#partyID:focus {
    border: 2px solid blue !important;
    background: white;
}
div#results, body {
    height: 100% !important;
    background: gray;
}
a#spotify:hover, a#spotify:active {
    background-color: #96f896;
}
div#loggedin {
    width: 350px !important;
    margin: auto !important;
    height: 0px !important;
}
html {
    width: 100%;
    margin: auto;
    z-index: 8;
    background-image: url('../images/turtle.jpg') !important;
    background-size: cover;
}
body {
    width: 100%;
    margin: auto;
}

div#searchBox {
    width: inherit;
    margin: auto;
    margin-top: 0px;
}

button#searchSongs {
    margin-left: 5px;
}

.dl-horizontal dd {
    margin: 0;
}

div#oauth {
    display: none;
}
#login {
    background: transparent;
}
#login {
    border-top: 5px solid #443f3f;
    display: none;
    width: 150px;
    margin: auto;
    margin-top: 3%;
    text-align: -webkit-center;
    font-size: 180%;
}
#loggedin {
    display: auto;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

body {
    padding: 0px;
}

#search-form, .form-control {
    // margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

.media, .media-body, div#oauth, div#user-profile, h1 {
    height: 0px;
}

div#results {
    width: 100% !important;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    background-color: transparent;
    //height: 1000px !important;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}

dt {
    text-align: left !important;
}

button#obtain-new-token {
    width: 346px;
}

div#results {
    width: 340px;
    margin: auto;
    padding-top: 5px;
}

button#setDefaultPlaylist {
    width: 347px;
    margin-top: 20px;
}

div#searchboxContainer {
    position: fixed !important;
    width: 100% !important;
    opacity: 1;
}
a#spotify, #spotify {
  margin-top: 15px; width: 291px; margin-left: -19%; height: 62px; font-size: 236%; margin-top: 100px; border: 2px solid black;

}
